h1= title
form( method="post")
    div
        div
            span Firstname :
            input(type="text", name="firstname", id="editUserFirstname")
        div
            span Lastname :
            input(type="text", name="lastname", id="editUserLastname")
        div
            span e-Mail :
            input(type="text", name="email", id="editUserEmail")
        dev#editUserSubmit
            input(type="submit", value="Send")